[user]
  name = ndom91
  email = yo@ndo.dev
  signingkey = 2DCE07BE62610800B1E4BEDE955D29B1F039BC43

[init]
  defaultBranch = main

[credential]
  helper = cache --timeout=360000

[core]
  editor = nvim
  pager = delta
  excludesfile = ~/.gitignore-global

[interactive]
  diffFilter = delta --color-only

[add.interactive]
  useBuiltin = false # required for git 2.37.0

[delta]
  navigate = true    # use n and N to move between diff sections
  light = true      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[color]
  ui = true
  pager = true
  branch = auto
  diff = auto
  status = auto
  interactive = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red
  new = cyan

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[alias]
  # shows last modified local branches
  last = branch --sort=-committerdate
  # shows list of files that have a merge conflict
  conflicts = diff --name-only --diff-filter=U
  changes = log  --color --graph --oneline --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
  # unstages a file. use like 'git unstage filename'
  unstage = reset HEAD --
  # resets all uncomitted changes and files
  abort = reset --hard HEAD
  # shows diff only for files staged to commit
  new = diff --cached
  # shows only changes to files in current directory
  here = status .
  # undo last commit
  undo = reset HEAD~1
  # change last commit message
  recommit = commit --amend

[diff]
  colorMoved = default

[merge]
  tool = nvim
  conflictstyle = diff3

[pull]
  rebase = false
  default = current

[commit]
  verbose = true
  # gpgSign = true

[push]
  default = current
  autoSetupRemote = true

[remote]
  pushDefault = origin

[branch]
  autosetupmerge = always
  # autosetuprebase = always

[url "git@github.com:checkly"]
  insteadOf = https://github.com/checkly
[url "git@github.com:ndom91"]
  insteadOf = https://github.com/ndom91

