body {
  box-sizing: content-box;
}

window {
  margin: 0px;
  padding: 4px;
  border: none;
  /* background-color: #191724; */
  background-color: #26233a;
  border-radius: 8px;
}

#input {
  padding: 8px 4px;
  outline: none;
  margin: 4px;
  padding-left: 20px;
  color: #cdd6f4;
  background-color: #1e1e2e;
  outline: none;
  font-weight: bold;
  border-radius: 8px;
  margin: 10px;
  margin-bottom: 0px;
}
#input:focus {
  margin-bottom: 0px;
}
#input svg {
  color: red;
  margin: 20px;
}

#inner-box {
  margin: 4px;
  padding: 8px;
  border: none;
  color: #cdd6f4;
  background-color: #1e1e2e;
  border-radius: 8px;
}

#outer-box {
  margin: 0px;
  border: none;
  border-radius: 8px;
  background-color: #1e1e2e;
}

#scroll {
  margin-top: 5px;
  border: none;
  border-radius: 15px;
  margin-bottom: 5px;
}

#img {
  margin-right: 12px;
  margin-left: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
}

#img:selected {
  /* background-color: rgba(235, 188, 186, 0.5); */
  background-color: transparent;
}

#text {
  font-weight: bold;
}

#text:selected {
  color: #191724;
  margin: 0px 0px;
  border: none;
  border-radius: 15px;
  background-color: transparent;
  /* background-color: rgba(235, 188, 186, 0.5); */
}

#entry {
  padding: 4px;
  border: none;
  border-radius: 8px;
  background-color: transparent;
}

#entry:focus {
  border: none;
}

#entry:selected {
  border: none;
  border-radius: 6px;
  background-color: rgba(235, 188, 186, 0.8);
}
